In [1]:
import pandas as pd
import numpy as np

import os

os.getcwd()

'D:\\repos\\github\\predicting-scores-hck\\engineering'

I found another bit of data that I want to include. I have not written a lambda or python script to scrapt the data so I'm just doing it here.

In [2]:
misc_df = pd.read_html("https://www.hockey-reference.com/leagues/NHL_2022_skaters-misc.html", index_col=0, header=1)[0]

In [3]:
misc_df = misc_df.drop_duplicates(subset=['Player'], keep='first', ignore_index=True)

In [4]:
misc_df.to_csv("..\\data\\misc_stats.csv")

In [5]:
scoring_df = pd.read_csv("../data/scores.csv", index_col=0)
advstat_df = pd.read_csv("../data/advanced_stats.csv", index_col=0)

In [6]:
scoring_df.head()

,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,PIM,...,SH.1,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%
0,Nicholas Abruzzese,22,TOR,C,9,1,0,1,-1,2,...,0,8,12.5,92,10:13,3,7,2,5,28.6
1,Noel Acciari,30,FLA,C,20,3,5,8,2,11,...,0,32,9.4,240,11:59,16,48,84,82,50.6
2,Calen Addison,21,MIN,D,15,2,2,4,-4,2,...,0,17,11.8,207,13:47,6,12,0,0,NaN
3,Andrew Agozzino,31,OTT,LW,1,0,0,0,0,0,...,0,1,0.0,7,6:52,0,4,1,2,33.3
4,Jack Ahcan,24,BOS,D,6,1,0,1,-3,0,...,0,5,20.0,96,16:02,5,8,0,0,NaN

In [7]:
advstat_df.head()

,Player,Age,Tm,Pos,GP,CF,CA,CF%,CF% rel,FF,...,PDO,oZS%,dZS%,TOI/60,TOI(EV),TK,GV,E+/-,SAtt.,Thru%
0,Nicholas Abruzzese,22,TOR,C,9,69,72,48.9,-2.8,46,...,98.2,46.3,53.7,10:13,9:11,0,3,0.2,12,66.7
1,Noel Acciari,30,FLA,C,20,204,165,55.3,-1.5,150,...,99.1,52.0,48.0,11:59,10:38,8,6,2.7,52,61.5
2,Calen Addison,21,MIN,D,15,199,150,57.0,6.3,144,...,94.4,50.5,49.5,13:47,12:16,0,1,3.0,36,47.2
3,Andrew Agozzino,31,OTT,LW,1,8,4,66.7,26.7,5,...,100.0,50.0,50.0,6:52,6:52,0,0,-0.2,1,100.0
4,Jack Ahcan,24,BOS,D,6,93,70,57.1,5.3,69,...,92.1,59.2,40.8,16:02,15:29,1,4,1.2,14,35.7

In [8]:
misc_df.head()

,Player,Age,Tm,Pos,GP,GC,G,A,PTS,GC.1,...,xGF,xGA,E+/-,OPS,DPS,PS,Att.,Made,Miss,Pct.
0,A.J. Greer,25,NJD,LW,9,1,0.11,0.11,0.22,0.09,...,3.0,1.9,1.2,0.1,0.1,0.2,0,NaN,NaN,NaN
1,Aaron Dell,32,BUF,G,12,0,0.00,0.00,0.00,0.00,...,15.5,24.5,NaN,0.0,0.0,1.4,0,NaN,NaN,NaN
2,Aaron Ekblad,25,FLA,D,61,19,0.25,0.69,0.93,0.32,...,59.6,41.4,18.1,5.1,4.5,9.5,0,NaN,NaN,NaN
3,Adam Beckman,20,MIN,LW,3,0,0.00,0.33,0.33,0.09,...,0.8,1.5,-0.7,0.0,0.0,0.0,0,NaN,NaN,NaN
4,Adam Boqvist,21,CBJ,D,52,9,0.21,0.21,0.42,0.17,...,31.8,39.2,-7.4,2.1,0.8,2.9,1,0,1,0.0

In [9]:
full_df = pd.merge(scoring_df, advstat_df, how="outer", on=["Player", "Age", "Tm"]).merge(misc_df, on=["Player", "Age", "Tm"])

In [ ]:
merge(df3,on='name')

In [10]:
full_df

,Player,Age,Tm,Pos_x,GP_x,G_x,A_x,PTS_x,+/-_x,PIM_x,...,xGF,xGA,E+/-_y,OPS,DPS,PS_y,Att.,Made,Miss,Pct.
0,Nicholas Abruzzese,22,TOR,C,9,1,0,1,-1,2,...,3.5,3.2,0.2,-0.1,0.0,0.0,0,NaN,NaN,NaN
1,Noel Acciari,30,FLA,C,20,3,5,8,2,11,...,9.4,6.7,2.7,0.4,0.2,0.6,0,NaN,NaN,NaN
2,Calen Addison,21,MIN,D,15,2,2,4,-4,2,...,9.8,6.9,3.0,0.3,0.0,0.3,0,NaN,NaN,NaN
3,Andrew Agozzino,31,OTT,LW,1,0,0,0,0,0,...,0.1,0.2,-0.2,0.0,0.0,0.0,0,NaN,NaN,NaN
4,Jack Ahcan,24,BOS,D,6,1,0,1,-3,0,...,3.9,2.8,1.2,0.1,0.0,0.1,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,Mika Zibanejad,28,NYR,C,81,29,52,81,30,12,...,48.8,48.5,0.4,6.1,3.1,9.2,7,3,4,42.9
999,Radim Zohorna,25,PIT,F,17,2,4,6,12,4,...,7.1,5.2,1.9,0.3,0.6,0.9,0,NaN,NaN,NaN
1000,Artem Zub,26,OTT,D,81,6,16,22,1,60,...,55.9,63.0,-7.1,0.7,4.3,4.9,0,NaN,NaN,NaN
1001,Mats Zuccarello,34,MIN,LW,70,24,55,79,21,24,...,50.1,42.3,7.8,6.4,1.6,8.0,8,2,6,25.0
1002,Jason Zucker,30,PIT,LW,41,8,9,17,-2,15,...,25.4,21.5,3.9,0.7,0.6,1.3,0,NaN,NaN,NaN

In [11]:
full_df.columns

Index(['Player', 'Age', 'Tm', 'Pos_x', 'GP_x', 'G_x', 'A_x', 'PTS_x', '+/-_x',
       'PIM_x', 'PS_x', 'EV', 'PP', 'SH', 'GW', 'EV.1', 'PP.1', 'SH.1', 'S_x',
       'S%', 'TOI', 'ATOI', 'BLK', 'HIT', 'FOW', 'FOL', 'FO%', 'Pos_y', 'GP_y',
       'CF', 'CA', 'CF%', 'CF% rel', 'FF', 'FA', 'FF%', 'FF% rel', 'oiSH%',
       'oiSV%', 'PDO', 'oZS%', 'dZS%', 'TOI/60', 'TOI(EV)', 'TK', 'GV',
       'E+/-_x', 'SAtt.', 'Thru%', 'Pos', 'GP', 'GC', 'G_y', 'A_y', 'PTS_y',
       'GC.1', 'PIM_y', 'S_y', 'G.1', 'A.1', 'PTS.1', 'GC.2', 'TGF', 'PGF',
       'TGA', 'PGA', '+/-_y', 'xGF', 'xGA', 'E+/-_y', 'OPS', 'DPS', 'PS_y',
       'Att.', 'Made', 'Miss', 'Pct.'],
      dtype='object')

In [12]:
full_df = full_df.drop(full_df[full_df["Player"]=="Player"].index)

In [20]:
refined_df = full_df.rename({
    'Pos_x': 'Position', 
    'GP_x': 'GamesPlayed',
    'Tm': 'Team',
    'G_x': 'Goals',
    'A_x': 'Assists',
    'PTS_x': 'Points',
    '+/-_x': 'PlusMinus',
    'PIM_x': 'PenaltyMinutes',
    'PS_x': 'PointShare',
    'S_x': 'Shots',
    'GC': 'GoalsCreated',
    'G_y': 'GoalsPerGame',
    'A_y': 'AssistsPerGame',
    'PTS_y': 'PointsPerGame',
    'GC.1': 'GoalsCreatedPerGame',
    'PIM_y': 'PenaltyMinutesPerGame',
    'S_y': 'ShotsPerGame',
    'G.1': 'AdjustedGoals',
    'A.1': 'AdjustedAssists',
    'PTS.1': 'AdjustedPts',
    'GC.2': 'AdjustedGoalsCreated',
    'E+/-_y': 'ExpectedPlusMinus',
    'PS_y': 'PointShares'
}, 
    axis=1)

refined_df.drop(['Pos_y', 'GP_y', 'E+/-_x', '+/-_y', 'Att.', 'Made', 'Miss', 'Pct.'], axis=1, inplace=True)

In [21]:
refined_df.to_csv("../data/refined.csv", index=False)